.menu__title {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        display: block;
        border: 1px solid var(--white);
    }
}


.chiken {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.menu__chiken {
    width: 22%;
    display: flex;
    margin-bottom: 20px;
    border: 1px solid var(--white);
    flex-direction: column;
    margin-left: 1%;

    .menu__img {
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            background-color: var(--white);
        }
    }

    .menu__list {
        padding: 10px;
        line-height: 1.7;

        .tit {
            font-size: 1.25rem;
            color: red;
            padding-bottom: 10px;

            span {
                color: var(--white);
            }
        }

        .sub {
            padding-bottom: 10px;
        }

        .pic {
            font-size: 1.25rem;

            span {
                font-size: 1rem;
                color: #e3ea05;
            }
        }

    }


}